=breadcrumb_tag do
  %li
    = link_to t('app.administration'), root_path
  %li
    =link_to t('app.orders.index'), orders_path
  %li.active
    =t('app.orders.once') + ' №' + @order.id.to_s
%br
%br
= render 'form'