=breadcrumb_tag do
  %li
    Администрирование
  %li
    =link_to t('app.orders.index'), orders_path
  %li.active
    =t('app.orders.once') + ' №' + @order.id.to_s
%h1= t('app.orders.edit')

= render 'form'