=breadcrumb_tag do
  %li
    = link_to t('app.administration'), root_path
  %li
    = link_to t('app.drivers.index'), drivers_path
  %li.active
    = @driver.fn + ' ' + @driver.sn + ' ' + @driver.ln
%br
%br
= render 'form'